<div id="tavern_toolbox_settings" class="inline-drawer toolbox-settings">
    <div class="inline-drawer-toggle inline-drawer-header toolbox-settings-header">
        <span class="toolbox-settings-title">
            <b>酒馆工具箱</b>
        </span>
        <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
    </div>
    <div class="inline-drawer-content">
        <div class="toolbox-settings-content">
            <div class="toolbox-settings-meta">
                <small data-toolbox-version></small>
                <button data-toolbox-update class="toolbox-update-action" type="button" disabled>检查更新…</button>
            </div>
            <div class="toolbox-settings-row toolbox-settings-master">
                <span class="toolbox-settings-copy">
                    <strong>启用酒馆工具箱</strong>
                    <small>统一控制所有工具模块</small>
                </span>
                <label class="toolbox-switch" title="启用酒馆工具箱">
                    <input data-toolbox-enabled type="checkbox" role="switch">
                    <span class="toolbox-switch-track"></span>
                </label>
            </div>
            <div data-toolbox-modules class="toolbox-settings-modules"></div>
        </div>
    </div>
</div>
